[submodule "4_dependencies/libraries/mmdetection"]
	path = dependencies/libraries/mmdetection
	url = https://github.com/HYH-M87/mmdetection.git
[submodule "4_dependencies/libraries/ultralytics"]
	path = 4_dependencies/libraries/ultralytics
	url = https://github.com/HYH-M87/ultralytics.git
[submodule "dependencies/libraries/mmsegmentation"]
	path = dependencies/libraries/mmsegmentation
	url = https://github.com/HYH-M87/mmsegmentation.git
	branch = main
[submodule "dependencies/libraries/vessel_seg"]
	path = dependencies/libraries/vessel_seg
	url = https://github.com/HYH-M87/Retinal-Vessel-Segmentation-using-variants-of-UNET.git
